:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 62.5%;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;

}

* {
	transition: background-color 0.3s ease-in-out,
		color 0.05s linear;
}

body, h1, h2, p {
	margin: 0;
}

.bodyItem{
	min-width: 320px;
	max-width: 1200px;
	margin: 0 auto;
}

* {
	font-size: inherit;
}

.App {
	min-height: 100vh;

	display: flex;
	flex-direction: column;
	align-items: center;

	font-size: 1.6rem;
}

.window {
	padding: 20px;
	border-radius: 10px;
	color: inherit;
}

h1{ font-size: 2.6rem; }
h2{ font-size: 2rem; }

input, button, input[type="submit"], input[type="reset"] {
	border: 0;
	outline: 0;
	padding: 10px;
	box-sizing: border-box;
}

input:focus, button:hover, input[type="submit"]:hover, input[type="reset"]:hover {
	outline-width: 1px;
	outline-style: solid;
}
