:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color-scheme: light dark;
}

* {
	transition: background-color 0.3s ease-in-out,
		color 0.05s linear;
}

body {
	margin: 0;
}

.App {
	min-width: 320px;
	max-width: 1200px;
	min-height: 100vh;
	border: solid 1px green;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.window {
	padding: 20px;
	border-radius: 10px;
	color: inherit;
}

input, button, input[type="submit"], input[type="reset"] {
	border: 0;
	outline: 0;
	padding: 10px;
	box-sizing: border-box;
}

input:focus, button:hover, input[type="submit"]:hover, input[type="reset"]:hover {
	outline-width: 1px;
	outline-style: solid;
}
