main{
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.vehicle-item{
    display: grid;
    gap: 15px;
	color: inherit;
	box-sizing: border-box;
	max-width: 800px;
	width: 100%;
    align-items: stretch;
    overflow: auto;
}
.vehicle-item:hover{
    background-color: var(--shade8Color);
}
.vehicle-item > div{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vehicle-item:hover > div:first-child{
    background-color: var(--shade9Color);
}

.vehicle-item > div:first-child{
    padding: 15px 5px;
    background-color: var(--shade8Color);
    color: var(--highlight3Color)
}

.vehicle-list-buttons a{
    padding: 8px;
}

.vehicle-list-buttons a, .vehicle-list-buttons a:active, .vehicle-list-buttons a:visited{
    color: var(--highlight3Color);
}

.vehicle-list-buttons a:hover{
    color: var(--highlight1Color);
}

.vehicle-list-buttons{
    gap: 6px;
    background-color: var(--shade8Color);
    padding: 0 20px;
}

.vehicle-list-item:hover{
    cursor: pointer;
}
.vehicle-list-item{
    grid-template-columns: 70px max-content 1fr max-content;
    border-radius: 10px;
}

.vehicle-history-item{
    grid-template-columns: 70px max-content repeat(2, 1fr) auto max-content;
    
}
.vehicle-history-box{
    border: solid 1px;
    border-color: rgba(0,0,0,0);
    border-bottom-color: var(--shade9Color);
}
.vehicle-history-box, .vehicle-history-box > * { transition: all 0.4s ease-in-out;  }
.vehicle-history-box.open{
    border-color: var(--shade9Color);
    margin: 30px 0;
}
.vehicle-history-box > div:nth-child(2){
    max-height: 0;
    overflow: hidden;
    background-color: var(--shade6Color);
}
.vehicle-history-box > div:nth-child(2) > div:first-child{
     padding: 10px; 
     min-height: 100px;
     box-sizing: border-box;
}

.vehicle-history-nav{
    width: 100%;
    background-color: var(--shade10Color);
    padding-left: 10px; 
    box-sizing: border-box;
    color: var(--shade9Color);

    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;

}
.vehicle-history-nav > div:last-child{
    display: flex;
    justify-content: end;
}
.vehicle-history-nav button{
    outline: unset;
    background-color: var(--shade7Color);
    color: var(--shade3Color);
}
.vehicle-history-nav button:hover{
    background-color: var(--shade9Color);
}

.vehicle-history-nav .btnDelete{
    background-color: var(--highlight1Color);
    color: white;
}
.vehicle-history-nav .btnDelete:hover{
    background-color: var(--highlight3Color);
}

.vehicle-history-box .icon{
    font-size: 3.5rem;
}

.vtag{
    display: inline-block;
    background-color: var(--shade10Color);
    color: var(--shade8Color);
    padding: 6px 10px;
    margin: 0 2px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1.4rem;
}

