nav.navMain{
    box-sizing: border-box;
    padding: 10px;
    height: 60px;
}

nav.navMain > div{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

nav.navMain button{
    padding: 10px;
    font-size: 1.6rem;
}