nav{
    box-sizing: border-box;
    padding: 10px;
    height: 60px;
}

nav > div{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

nav button{
    padding: 10px;
    font-size: 1.6rem;
}